.git
.github
node_modules
**/node_modules
.next
**/.next
.turbo
**/.turbo
out/
**/out/
dist/
**/dist/
.env
.env.*
*.log
*.md
test-results/
playwright-report/
blob-report/
.DS_Store
*.pem
.venv
.tinyb
.vitest
**/playwright/.auth/
